
<base href="/">
<app-root></app-root>

<script src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js"></script>
<script type="text/javascript" src="@App.Path/dist/my-app/runtime.js"></script>
<script type="text/javascript" src="@App.Path/dist/my-app/polyfills.js"></script>
<script type="text/javascript" src="@App.Path/dist/my-app/styles.js"></script>
<script type="text/javascript" src="@App.Path/dist/my-app/vendor.js"></script>
<script type="text/javascript" src="@App.Path/dist/my-app/main.js"></script></body>
